#main {
	position:absolute;
	top:0px;
	left:0px;
}

.puzzleMain {
	position:absolute;
	z-index:5;
	visibility:hidden;
}

#inside {
	position:absolute;
	top:50px;
	left:300px;
	height:350px;
	width:550px;
	border-style:dotted;
	border-width:1px;
	border-color:#000000;
	padding:0px;
}

.congrats { font-family:Verdana; font-size:20px; font-weight:bold; }
.links { font-family:Verdana; font-size:10px; }